body {
  margin: 0;
  padding: 0;
}


.text {
  font-size: 34px;
  margin: 20px 40px;
  padding: 0 0 40px;
}

.container {
  box-sizing: border-box;
  color: #444;
  display: flex;
  font-family: 'Abril Fatface', cursive;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}

.text-wrap {
  display: inline-block;
  font-size: 55px;
  margin: 20px 40px;
}

.link {
  color: #777;
  text-decoration: none;
}

.contact-wrap {
  display: fixed;
  font-size: 21px;
  right: 0;
  position: absolute;
  bottom: 50vh;
}

.side-text {
  font-size: 34px;
  /*letter-spacing: 3px;*/
  margin: 40px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}
