body {
  margin: 0;
  padding: 0;
}


.text {
  font-size: 34px;
  margin: 20px 40px;
  padding: 0 0 40px;
}

.container {
  box-sizing: border-box;
  color: #444;
  display: flex;
  font-family: 'Abril Fatface', cursive;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}

.text-wrap {
  display: inline-block;
  font-size: 55px;
  margin: 20px 40px;
}

.link {
  color: inherit;
  text-decoration: none;
}
